@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#blog {
  font-family: "Figtree";
  -webkit-box-shadow: 10px 10px 5px 0px rgba(5, 0, 5, 1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(5, 0, 5, 1);
  box-shadow: 10px 10px 5px 0px rgba(5, 0, 5, 1);
}
#tag-text {
  font-weight: 800;
}
#hover-text:hover {
  color: #f6d050;
}
